body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

h2 {
  color: red;
  font-family: sans-serif;
  text-align: center;
}

form {
  margin-top: 250px;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px;
  line-height: 1.5rem;
  color: black;
  font-weight: bold;
}

.submitbtn:hover {
  align-items: center;
  background-color: rgb(48 47 47);
}

div.button {
  text-align: right;
  margin-top: 1rem;
}

button {
  color: white;
  font-size: 0.8rem;
  background-color: rgb(243 82 82);
  border-radius: 2rem;
  border-style: hidden;
  height: 2rem;
  width: 6rem;
  font-weight: bold;
}

input::placeholder {
  color: rgb(177 177 177);
}

select {
  height: 30px;
  width: 400px;
  border-radius: 4px;
}

input {
  border-radius: 0.3rem;
  height: 30px;
  width: 400px;
  border-style: solid;
}
