* {
  box-sizing: border-box;
}

.header {
  text-align: center;
  font-size: 2rem;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 1200px;
  margin: auto;
  font-weight: bold;
}

.row {
  display: flex;
}

.col-2 {
  justify-content: flex-start;
  flex-basis: 20%;
  font-size: 14px;
  letter-spacing: 1px;
}

span {
  color: lightgray;
}

.font-size12 {
  font-size: 12px;
}

.peach-background {
  background-color: rgb(255 242 231);
  border-radius: 4px;
}

img {
  max-width: 100%;
  padding: 7px;
}

.color-black {
  color: black;
}

.border-left {
  border-left: 1px solid lightgray;
}
