body {
  max-width: 1000px;
  margin: auto;
  margin-top: 6rem;
}

.container {
  text-align: center;
  border: 6px solid;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 20px;
}

i {
  font-size: 1.5rem;
  padding: 10px;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 3.5rem;
}

.col-5 {
  display: flex;
  flex-basis: 20%;
  justify-content: center;
}
