* {
  box-sizing: border-box;
}

.container {
  font-family: Karla, sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 980px;
  text-align: center;
  flex-wrap: wrap;
}

.row {
  display: flex;
  justify-content: center;
}

.row:not(.col-full) {
  margin-left: 150px;
}

.col-full {
  margin-left: 120px;
  margin-right: 120px;
}

.col-6 {
  flex-basis: 50%;
  height: 70px;
}

.col-6-3 {
  flex-basis: 25%;
  text-align: end;
}

.col-6-9 {
  text-align: left;
  flex-basis: 75%;
  margin-top: 15px;
}

.nestedflexbox {
  display: flex;
  width: 600px;
}

p {
  font-size: 12px;
  line-height: 20px;
}

section {
  font-size: 12px;
  margin-bottom: 30px;
  margin-right: 200px;
  padding-bottom: 30px;
  line-height: 23px;
}

img {
  width: 70%;
}

.image {
  margin-top: 2px;
}

.image-bot {
  margin-top: 50px;
}

.paragraph {
  margin-top: 50px;
}

.button {
  border: 1px solid rgb(204 2 2);
  color: rgb(204 0 0);
  background-color: white;
  padding: 10px 30px;
  font-size: 8pt;
  margin-top: 120px;
  margin-right: 30px;
}

.button:hover {
  cursor: pointer;
}

h3 {
  font-size: 0.8rem;
  letter-spacing: 1px;
  margin-top: 30px;
}

h1 {
  font-size: 37px;
  letter-spacing: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

.bottom-two-heading {
  margin-top: 72px;
}
